.home-subscribe__title {
    font-weight: 700;
    font-size: 142px;
    line-height: 160px;
    background: linear-gradient(265.34deg, #21D4FD 21.26%, #E40ECF 66.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 120px 0 100px;
}

