.home-cContest__item-img {
    width: 373px;
    height: 241px;
    border-radius: 7px;
}

.home-cContest__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 14px 0px;
    max-width: 373px;
    width: 100%;
}

.home-cContest__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 373px;
    width: 100%;
}