.section-home__top {
    width: 100%;
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.nionCosmo-img {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 850px;
}

.home-top__wrapper {
    position: relative;
}


.home-top__text {
    font-weight: 700;
    font-size: 41px;
    line-height: 55px;
    color: #FFFFFF;
    width: 623px;
    padding-top: 100px;
}