.home-contest__info_inner {
    max-width: 586px;
    width: 100%;
}

.home-contest__info-text {
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    opacity: 0.9;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.home-contest__info-title {
    background: linear-gradient(265.34deg, #21D4FD 21.26%, #E40ECF 66.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 42px;
    line-height: 44px;
    max-width: 420px;
    width: 100%;
}

.home-contest__arrow_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg{
        transition: all 0.3s;
        cursor: pointer;
        &:hover{
            scale: 1.1;
        }
    }
}